    /**
 * HEADER MENU
 * DRUPAL CAMP PUNE
 */
    
    .menu {
        text-align: center;
        text-decoration: none;
        list-style-type: none;
        .menu-item {
            display: inline-block;
            font-size: 14px;
            margin-left: 15px;
            margin-right: 15px;
            a {
                height: 29px;
                padding: 15px;
                display: inline-block;
                border-radius: 4%;
                &.is-active {
                    border: 2px solid transparent !important;
                    color: #ff5252 !important;
                    border-bottom-color: #ff5252!important;
                }
            }
        }
        .logo-menu-item {
            display: inline-block;
            margin-left: 19px;
            margin-right: 19px;
            top: 70px;
            position: relative;
            z-index: 2;
            img {
                width: inherit;
            }
        }
    }
    
    @media screen and (max-width: $desktop) {
        .menu {
            list-style: none;
            padding: 0;
            // width: 100%;
            text-align: none;
            .menu-item {
                margin: 0px;
                a {
                    padding: 15px 10px 15px 10px;
                }
            }
            .logo-menu-item {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
    
    @media screen and (max-width: $tablets) {
        .header-menu {
            .region-header {
                nav {
                    &.contextual-region,
                    &.menu--main {
                        position: relative;
                        z-index: 2;
                        width: 15em;
                        overflow: hidden;
                        .menu {
                            background-color: #fff; // position: absolute;
                            .logo-menu-item {
                                display: none;
                            }
                            .menu-item {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .header-banner {
        img {
            width: 100%;
            height: auto;
        }
    }


    /**
 * RESPONSIVE NAV CODE AFTER 768PX 
 */
    /* ------------------------------------
  MOBILE FIRST RESPONSIVE NAV
------------------------------------ */
    
    .header {
        .header-menu {
            .region-header {
                nav {
                    &.responsive-nav--open {
                        overflow: visible; // allow dropdown to be seen
                    }
                }
            }
        }
    }

#width-250{
    width: 250px;

}

#width-0{
    width: 0px;
}

    /**
 * NAV WRAPPER
 * ===========
 *
 * <nav> element that wraps our navigation.
 *
 * [1] Make sure we canâ€™t actually see the absolutely positioned dropdown.
*/
    
    .responsive-nav {
        position: relative;
        overflow: hidden; // [1]
        ul {
            li {
                color: black;
            }
        }
        /* Now show full width */
        @media (max-width: 768px) {
            width: 20em;
        }
    }
    /* Class added via JS when toggled open */
    /**
 * NAV LIST
 * ========
*/
    /**
    * NAV LIST ITEMS
    * ==============
    */
    
    .responsive-nav__list {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: $responsive-nav-background;
        border-bottom-right-radius: $responsive-nav-border-radius;
        border-bottom-left-radius: $responsive-nav-border-radius;
        width: 100%;
        .responsive-nav__item {
            border-top: 1px solid $responsive-nav-borders;
            /* Change from stacked to display in a row */
            @media (min-width: 768px) {
                display: inline-block;
                border-top: none; // separator no longer needed
            }
        }
        /**
     * Hide nav by default only when JS is running and viewport is less than
     * navigation breakpoint.
     * The wrapper has 'overflow: hidden;' which hides it.
    */
        @media (max-width: 768px) {
            height: 100%;
            width: 0px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #fff;
            overflow-x: hidden;
            transition: 0.3s;
            padding-top: 60px;
            .responsive-nav__item {
                &.cross {
                    &:after {
                        content: $responsive-nav-open-toggle-text;
                    }
                    color: $responsive-nav-open-color;
                    font-size: 25px;
                    text-align: right;
                    margin-right: 25px;
                }
            }
            // .js & {
            //     position: absolute;
            // }
        }
        /* Remove background */
        @media (min-width: 768px) {
            // background: none;
        }
    }
    /**
 * NAV LINKS
 * =========
 *
 * [1] Ensure that the link text lines up with the hamburger.
 * [2] Ensure that the link text is the same height as the trigger.
*/
    
    .responsive-nav__link {
        @extend %responsive-nav__link;
        /* Background now gone so change link colour */
    }
    /**
 * TOGGLE BUTTON
 * =============
 *
 * <a> element inserted via JavaScript which toggles the nav.
 *
 * [1] Match the navigation link styles.
 * [2] So toggle button width is at least the hit-area size, but can grow.
*/
    
    .responsive-nav__toggle {
        @extend %responsive-nav__link; // [1]
        display: none;
        padding: 5px;
        background: $responsive-nav-background;
        min-width: $responsive-nav-hit-area; // [2]
        border-radius: $responsive-nav-border-radius;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        /* Content for toggle button */
        &:before {
            content: $responsive-nav-toggle-text;
            font-size: $responsive-nav-icon-size;
            line-height: 1;
        }
        &:hover {
            text-decoration: none;
        }
        /* Menu open styles */
        .responsive-nav--open & {
            width: 100%;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            /* Change hamburger icon to a close icon */
            &:before {
                content: $responsive-nav-open-toggle-text;
            }
        }
        /* Now hide the toggle button as menu show by default */
        @media (max-width: 768px) {
            display: inline-block;
        }
    }
