body {
    margin: 0 auto;
    line-height: 1.6;
    font-family: 'Roboto', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-wrapper,
.content_bottom,
.region-footer-top,
.region-footer {
    max-width: 1920px;
    margin: 0 auto;
}

ul {
    &.menu {
        margin: 0px !important;
        text-align: center !important;
        // margin-left: 0px !important;
    }
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    fill: rgba(0, 0, 0, 0.54);
}

* {
    :before,
    :after {
        box-sizing: inherit;
    }
}

h2 {
    text-align: center;
    color: #1876d8;
    text-transform: uppercase;
}
