
/**
 * VARIABLES
 * =========
*/

//Default Font Color
$font-color:rgba(0,0,0,0.54);

/* Medium Devices, Desktops */
$desktop:992px;
/* Small Devices, Tablets */
$tablets:768px;
/* Extra Small Devices, Phones */
$mobile_start:480px;
/* Custom, iPhone Retina */
$mobile_end:320px;

//Responsive Menu Bar Variables
$responsive-nav-hit-area: 44px;
$responsive-nav-icon-size: 25px;
$responsive-nav-color: rgba(0,0,0,.54)responsive-nav_toggle;
$responsive-nav-background: #fff;
$responsive-nav-borders: lighten($responsive-nav-background, 10%);
$responsive-nav-border-radius: 3px;
$responsive-nav-toggle-text: "☰";
$responsive-nav-open-toggle-text: "✕";
$responsive-nav-open-color:#818181;
$responsive-nav-breakpoint: 40em;

/**
 * h2 color
 */
$h2-color:#1876d8;