{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.header_banner: Items for the header banner region.
 * - page.content: The main content of the current page.
 * - page.content_bottom: The bottom content region of the current page.
 * - page.footer_top: The top footer content region of the current page.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="page-wrapper">

  {{page.header_top}}
  <div class="header">
    
    
    {# <div class="header-top"> #}
    {# </div> #}
    {# {% endif %} #}

  	<div class="header-menu">
  		{{page.header}}
  	</div>
  	{% if page.header_banner %}
  		<div class="header-banner">
  			{{page.header_banner}}
  		</div>
  	{% endif %}
  </div>
  <div class="content">
  	{% if page.content %}
  		{{page.content}}
  	{% endif %}
  </div>
  {% if page.content_bottom %}
  <div class="content_bottom">
  		{{page.content_bottom}}
  </div>
  {% endif %}
  {{page.footer_top}}
  {{page.footer}}
</div>