#banner-about {
    height: auto;
    width: 100%;
}

.content {
    #pune-group-about {
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        .content {
            color: $font-color;
            width: 70%;
            margin: 0 auto;
        }
    }
    #bring-expect-block {
        background-color: #f8f9fc;
        padding-bottom: 30px;
        padding-top: 30px;
        .content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            @for $i from 1 through 2 {
                #block#{$i} {
                    text-align: center;
                    p {
                        &:first-child {
                            color: #0069d4;
                        }
                        &:nth-child(2) {
                            width: 70%;
                            /* text-align: center; */
                            margin: 0 auto;
                            padding: 30px;
                            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .19)!important;
                            background: #ffffff;
                            color: #888e94;
                        }
                    }
                }
            }
        }
    }
    #code-conduct-block {
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;
        a {
            @extend %anchor-button;
        }
    }
    #drupal-camp-pune {
        padding-top: 30px;
        padding-bottom: 30px;
        #block1 {
            color: $font-color;
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }
    }
    @media screen and (max-width: $tablets) {
        #pune-group-about {
            padding: 5px;
            .content {
                text-align: center;
                width: inherit;
                padding: 5px;
            }
        }
        #bring-expect-block {
            padding: 10px;
            .content {
                flex-direction: column;
                @for $i from 1 through 2 {
                    #block#{$i} {
                        p {
                            &:nth-child(2) {
                                width: inherit;
                                margin: 0 auto;
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
        #code-conduct-block {
            padding: 10px;
        }
        #drupal-camp-pune {
            padding: 10px;
            #block1 {
                width: inherit;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}
