#venue-block {
    padding-top: 40px;
    background-color: #fbfcff;
    padding-bottom: 50px;
    h2 {
        text-align: center;
        color: $h2-color;
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        #block1 {
            button {
                border: 1px solid #ffffff;
                border-radius: 4px;
                color: $font-color;
                background: #ffffff;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .19)!important;
            }
            p {
                :first-child {
                    color: black;
                }
            }
        }
    }
    @media screen and (max-width: $tablets) {
        padding-top: 5px;
        padding-bottom: 5px;
        .content {
            flex-direction: column-reverse;
            padding: 5px;
            #block2 {
                p {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

#sponsor-block {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    p {
        color: $font-color;
        a {
            @extend %anchor-button;
        }
    }
}

#love-qed42 {
    background-color: #fbfcff;
    padding-top: 20px;
    padding-bottom: 20px;
    .content {
        text-align: right;
        margin-right: 200px;
        p {
            margin: 0;
        }
    }
    @media screen and (max-width: $tablets) {
        padding-top: 10px;
        padding-bottom: 10px;
        .content {
            margin-right: 0px;
            text-align: center;
        }
    }
}

#follow-block {
    background-color: #1c1c1c;
    padding-bottom: 30px;
    padding-top: 30px;
    p {
        margin: 0;
        color: #fff;
        text-align: right;
        margin-right: 200px;
        img {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    @media screen and (max-width: $tablets) {
        padding-top: 10px;
        padding-bottom: 10px;
        p {
            margin: 0;
            text-align: center;
        }
    }
}

.view-image-describe-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    .view-content {
        display: flex;
        justify-content: space-around;
        .views-row {
            padding: 5px;
            img {
                border-radius: 4px;
                width: 100%;
                height: auto;
            }
            width: 30%;
            h4 {
                color: $h2-color;
            }
        }
    }
    @media screen and (max-width: $tablets) {
        padding-top: 10px;
        padding-bottom: 10px;
        .view-content {
            padding: 5px;
            flex-direction: column;
            .views-row {
                padding: 5px;
                width: inherit;
                box-shadow: 0 4px 3px 0 rgba(0, 0, 0, .2), 0 6px 6px 0 rgba(0, 0, 0, .19)!important;
                border-radius: 2px;
                margin-bottom: 10px;
            }
        }
    }
}