.page-wrapper {
    .content {
        #tickets {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 20px;
            #block1,
            #block2 {
                width: 50%;
                text-align: center;
                p {
                    line-height: 4;
                    color: $font-color;
                    a {
                        @extend %anchor-button;
                    }
                }
            }
            @media screen and (max-width: $tablets) {
                padding: 5px;
                flex-direction: column;
                #block1,
                #block2 {
                    width: 100%;
                }
            }
        }
        #keynote_speaker_block {
            color: $font-color;
            background-color: #f7f9fb;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            h1 {
                color: $h2-color;
                font-weight: 200;
            }
            #block1 {
                .content {
                    padding: 70px;
                }
                width: 50%;
                div {
                    width: 60%;
                }
            }
            #block2 {
                p {
                    img {
                        width: 100%;
                    }
                }
            }
            @media screen and (max-width: $tablets) {
                padding: 5px;
                flex-direction: column-reverse;
                #block1 {
                    padding: 0px;
                    .content {
                        padding: 5px;
                        width: 100%;
                        h1 {
                            text-align: center;
                        }
                    }
                }
                #block1,
                #block2 {
                    width: 100%;
                }
                p {
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .events-block {
            padding: 20px;
            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 20px;
                h4 {
                    color: $h2-color;
                }
                img {
                    height: 250px;
                    width: 400px;
                }
                p {
                    width: 80%;
                }
            }
        }
        #block-views-block-our-sponsors-block-1 {
            h2 {
                text-align: center;
                color: $h2-color;
            }
            .view-our-sponsors {
                display: flex;
                justify-content: center;
                .view-content {
                    display: flex;
                    flex-wrap: wrap;
                    width: 60%;
                    justify-content: space-around;
                    .views-row {
                        padding: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            @media screen and (max-width: $tablets) {
                .view-our-sponsors {
                    .view-content {
                        width: 100%;
                        .views-row {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
