.view-news-update {
    .view-header {
        background-color: #fbfcff;
        #news-update-block {
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            h1 {
                color: $h2-color;
                text-transform: uppercase;
            }
        }
    }
}
