.header-banner {
    #block-internship2017-sessionbanner {
        position: relative;
        #session-banner-block {
            position: absolute;
            bottom: 80px;
            margin-left: 80px;
            h1 {
                color: #fff;
            }
            a {
                @extend %anchor-button;
            }
        }
    }
    @media screen and (max-width: $tablets) {
        #block-internship2017-sessionbanner {
            #session-banner-block {
                position: initial;
                bottom: 0px;
                margin: 0px;
                text-align: center;
                h1 {
                    color: #000;
                }
            }
        }
    }
}

#selection-block {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fbfcff;
    p {
        width: 60%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    h2 {
        text-align: center;
        color: $h2-color;
        text-transform: uppercase;
    }
    #criteria-block {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        width: 60%;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        a {
            @extend %anchor-button;
            margin-bottom: 30px;
        }
    }
    @media screen and (max-width: $tablets) {
        padding-top: 5px;
        padding-bottom: 5px;
        p {
            width: 100%;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        #criteria-block {
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
        }
    }
}

#selection-commitee-block {
    text-align: center;
    p {
        width: 70%;
        margin: 0 auto;
    }
    @media screen and (max-width: $tablets) {
        p {
            width: inherit;
        }
    }
}
