.block-views-blockour-sponsors-block-1{
    margin-top: 60px;
}
#benefit-sponsor-block {
    h2 {
        text-align: center;
        color: $h2-color;
    }
    .content{
    	padding-top: 20px;
    	padding-bottom: 20px;
    	display: flex;
    	flex-direction:row;
    	justify-content:space-around;
    	#block1,#block2,#block3{
    		width: 30%;
    	}
    }
    @media screen and (max-width: $tablets) {
        .content{
            padding: 5px;
            flex-direction:column;
            #block1,#block2,#block3{
                width: 100%;
                text-align: center;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 2px 7px 0 rgba(0, 0, 0, .19)!important;
            }
        }
    }
}
