.path-user {
    #love-qed42{
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .content {
        #block-internship2017-content {
        	background-color: #a4a6a5;
            padding: 40px;
            position: relative;
            text-align: center;
            .user-login-form {
            	background-color: #fff;
                display: inline-block;
                margin: 0 auto;
                padding: 20px;
                border-radius: 4px;
                text-align: initial;
                border-color: #ccc;
                -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
                >div {
                    padding: 20px;
                }
                #edit-actions {
                    text-align: center;
                    #edit-submit {
                        padding: 6px 12px;
                        margin-bottom: 0;
                        font-size: 14px;
                        font-weight: 400;
                        cursor: pointer;
                        line-height: 1.42857143;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: middle;
                        background-color: #59B2E0;
                        outline: none;
                        color: #fff;
                        font-size: 14px;
                        background-image: none;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        height: auto;
                        text-transform: uppercase;
                        border-color: #59B2E6;
                    }
                }
            }
        }
    }
}
