#contact-us-block {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    h2 {
        color: #1876d8;
        text-transform: uppercase;
    }
    p {
        color: $font-color;
    }
     @media screen and (max-width: $tablets) {
        padding: 10px;
     }
}

#major-attraction-block {
	padding-top: 30px;
	padding-bottom: 30px;
    h2 {
        text-transform: uppercase;
        text-align: center;
        color: $h2-color;
    }
    .content {
    	display: flex;
    	flex-direction:row;
    	justify-content:space-around;
    	flex-wrap: wrap;
        #block1,
        #block2,
        #block3,
        #block4 {
            img {
                height: 200px;
                width: 300px;
            }
        }
    }
    @media screen and (max-width: $tablets) {
        .content{
            padding: 5px;
        }
     }
}
