{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(logopath,items, attributes, 0) }}

{% macro menu_links(logopath,items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="menu responsive-nav__list">
        <li class="menu-item responsive-nav__item cross"></li>
    {% else %}
      <ul class="menu responsive-nav__list">
        <li class="menu-item responsive-nav__item cross"></li>
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
      %}
      
      {% if loop.index == 4 %}
        <li class="logo-menu-item">
          <img src="{{logopath}}"/>
        </li>
      {% endif %}

      <li class="menu-item responsive-nav__item">
        <span class="responsive-nav__link">
        {{ link(item.title, item.url) }}
        </span>
        {% if item.below %}
          <span class="responsive-nav__link">
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        </span>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
