%anchor-button {
    background: #ff0049;
    color: white;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    // height: 20px;
    width: 145px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .19);
}


/* Reusable silent class so we can share styles with the toggle */

%responsive-nav__link {
    color: $responsive-nav-color;
    display: block;
    white-space: nowrap;
    line-height: $responsive-nav-hit-area; // [2]
}