@charset "UTF-8";
/**
 * RESET CSS AND VARIABLES 
 */
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  margin: 0 auto;
  line-height: 1.6;
  font-family: 'Roboto', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-wrapper,
.content_bottom,
.region-footer-top,
.region-footer {
  max-width: 1920px;
  margin: 0 auto;
}

ul.menu {
  margin: 0px !important;
  text-align: center !important;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  fill: rgba(0, 0, 0, 0.54);
}

* :before,
* :after {
  box-sizing: inherit;
}

h2 {
  text-align: center;
  color: #1876d8;
  text-transform: uppercase;
}

/**
 * VARIABLES
 * =========
*/
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/**
 * h2 color
 */
/**
 * MIXINS
 */
#sponsor-block p a, .content #code-conduct-block a, .header-banner #block-internship2017-sessionbanner #session-banner-block a, #selection-block #criteria-block a, .page-wrapper .content #tickets #block1 p a,
.page-wrapper .content #tickets #block2 p a {
  background: #ff0049;
  color: white;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  width: 145px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

/* Reusable silent class so we can share styles with the toggle */
.responsive-nav__link, .responsive-nav__toggle {
  color: rgba(0, 0, 0, 0.54) responsive-nav_toggle;
  display: block;
  white-space: nowrap;
  line-height: 44px;
}

/**
 * PARTIALS 
 * HEADER AND FOOTER 
 */
   /**
* HEADER MENU
* DRUPAL CAMP PUNE
*/
.menu {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}
.menu .menu-item {
  display: inline-block;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
}
.menu .menu-item a {
  height: 29px;
  padding: 15px;
  display: inline-block;
  border-radius: 4%;
}
.menu .menu-item a.is-active {
  border: 2px solid transparent !important;
  color: #ff5252 !important;
  border-bottom-color: #ff5252 !important;
}
.menu .logo-menu-item {
  display: inline-block;
  margin-left: 19px;
  margin-right: 19px;
  top: 70px;
  position: relative;
  z-index: 2;
}
.menu .logo-menu-item img {
  width: inherit;
}

@media screen and (max-width: 992px) {
  .menu {
    list-style: none;
    padding: 0;
    text-align: none;
  }
  .menu .menu-item {
    margin: 0px;
  }
  .menu .menu-item a {
    padding: 15px 10px 15px 10px;
  }
  .menu .logo-menu-item {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 768px) {
  .header-menu .region-header nav.contextual-region, .header-menu .region-header nav.menu--main {
    position: relative;
    z-index: 2;
    width: 15em;
    overflow: hidden;
  }
  .header-menu .region-header nav.contextual-region .menu, .header-menu .region-header nav.menu--main .menu {
    background-color: #fff;
  }
  .header-menu .region-header nav.contextual-region .menu .logo-menu-item, .header-menu .region-header nav.menu--main .menu .logo-menu-item {
    display: none;
  }
  .header-menu .region-header nav.contextual-region .menu .menu-item, .header-menu .region-header nav.menu--main .menu .menu-item {
    display: block;
  }
}
.header-banner img {
  width: 100%;
  height: auto;
}

   /**
* RESPONSIVE NAV CODE AFTER 768PX 
*/
    /* ------------------------------------
  MOBILE FIRST RESPONSIVE NAV
------------------------------------ */
.header .header-menu .region-header nav.responsive-nav--open {
  overflow: visible;
}

#width-250 {
  width: 250px;
}

#width-0 {
  width: 0px;
}

    /**
 * NAV WRAPPER
 * ===========
 *
 * <nav> element that wraps our navigation.
 *
 * [1] Make sure we canâ€™t actually see the absolutely positioned dropdown.
*/
.responsive-nav {
  position: relative;
  overflow: hidden;
  /* Now show full width */
}
.responsive-nav ul li {
  color: black;
}
@media (max-width: 768px) {
  .responsive-nav {
    width: 20em;
  }
}

/* Class added via JS when toggled open */
    /**
 * NAV LIST
 * ========
*/
/**
* NAV LIST ITEMS
* ==============
*/
.responsive-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
    /**
 * Hide nav by default only when JS is running and viewport is less than
 * navigation breakpoint.
 * The wrapper has 'overflow: hidden;' which hides it.
*/
  /* Remove background */
}
.responsive-nav__list .responsive-nav__item {
  border-top: 1px solid white;
  /* Change from stacked to display in a row */
}
@media (min-width: 768px) {
  .responsive-nav__list .responsive-nav__item {
    display: inline-block;
    border-top: none;
  }
}
@media (max-width: 768px) {
  .responsive-nav__list {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }
  .responsive-nav__list .responsive-nav__item.cross {
    color: #818181;
    font-size: 25px;
    text-align: right;
    margin-right: 25px;
  }
  .responsive-nav__list .responsive-nav__item.cross:after {
    content: "✕";
  }
}

    /**
 * NAV LINKS
 * =========
 *
 * [1] Ensure that the link text lines up with the hamburger.
 * [2] Ensure that the link text is the same height as the trigger.
*/
.responsive-nav__link {
  /* Background now gone so change link colour */
}

    /**
 * TOGGLE BUTTON
 * =============
 *
 * <a> element inserted via JavaScript which toggles the nav.
 *
 * [1] Match the navigation link styles.
 * [2] So toggle button width is at least the hit-area size, but can grow.
*/
.responsive-nav__toggle {
  display: none;
  padding: 5px;
  background: #fff;
  min-width: 44px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Content for toggle button */
  /* Menu open styles */
  /* Now hide the toggle button as menu show by default */
}
.responsive-nav__toggle:before {
  content: "☰";
  font-size: 25px;
  line-height: 1;
}
.responsive-nav__toggle:hover {
  text-decoration: none;
}
.responsive-nav--open .responsive-nav__toggle {
  width: 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  /* Change hamburger icon to a close icon */
}
.responsive-nav--open .responsive-nav__toggle:before {
  content: "✕";
}
@media (max-width: 768px) {
  .responsive-nav__toggle {
    display: inline-block;
  }
}

/**
 * RESUSE SECTION
 */
#venue-block {
  padding-top: 40px;
  background-color: #fbfcff;
  padding-bottom: 50px;
}
#venue-block h2 {
  text-align: center;
  color: #1876d8;
}
#venue-block .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#venue-block .content #block1 button {
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.54);
  background: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19) !important;
}
#venue-block .content #block1 p :first-child {
  color: black;
}
@media screen and (max-width: 768px) {
  #venue-block {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #venue-block .content {
    flex-direction: column-reverse;
    padding: 5px;
  }
  #venue-block .content #block2 p img {
    width: 100%;
  }
}

#sponsor-block {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
#sponsor-block p {
  color: rgba(0, 0, 0, 0.54);
}

#love-qed42 {
  background-color: #fbfcff;
  padding-top: 20px;
  padding-bottom: 20px;
}
#love-qed42 .content {
  text-align: right;
  margin-right: 200px;
}
#love-qed42 .content p {
  margin: 0;
}
@media screen and (max-width: 768px) {
  #love-qed42 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #love-qed42 .content {
    margin-right: 0px;
    text-align: center;
  }
}

#follow-block {
  background-color: #1c1c1c;
  padding-bottom: 30px;
  padding-top: 30px;
}
#follow-block p {
  margin: 0;
  color: #fff;
  text-align: right;
  margin-right: 200px;
}
#follow-block p img {
  margin-left: 5px;
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  #follow-block {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #follow-block p {
    margin: 0;
    text-align: center;
  }
}

.view-image-describe-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.view-image-describe-block .view-content {
  display: flex;
  justify-content: space-around;
}
.view-image-describe-block .view-content .views-row {
  padding: 5px;
  width: 30%;
}
.view-image-describe-block .view-content .views-row img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}
.view-image-describe-block .view-content .views-row h4 {
  color: #1876d8;
}
@media screen and (max-width: 768px) {
  .view-image-describe-block {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .view-image-describe-block .view-content {
    padding: 5px;
    flex-direction: column;
  }
  .view-image-describe-block .view-content .views-row {
    padding: 5px;
    width: inherit;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 2px;
    margin-bottom: 10px;
  }
}

/**
 * PAGES
 */
#banner-about {
  height: auto;
  width: 100%;
}

.content #pune-group-about {
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.content #pune-group-about .content {
  color: rgba(0, 0, 0, 0.54);
  width: 70%;
  margin: 0 auto;
}
.content #bring-expect-block {
  background-color: #f8f9fc;
  padding-bottom: 30px;
  padding-top: 30px;
}
.content #bring-expect-block .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content #bring-expect-block .content #block1 {
  text-align: center;
}
.content #bring-expect-block .content #block1 p:first-child {
  color: #0069d4;
}
.content #bring-expect-block .content #block1 p:nth-child(2) {
  width: 70%;
  /* text-align: center; */
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19) !important;
  background: #ffffff;
  color: #888e94;
}
.content #bring-expect-block .content #block2 {
  text-align: center;
}
.content #bring-expect-block .content #block2 p:first-child {
  color: #0069d4;
}
.content #bring-expect-block .content #block2 p:nth-child(2) {
  width: 70%;
  /* text-align: center; */
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19) !important;
  background: #ffffff;
  color: #888e94;
}
.content #code-conduct-block {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.content #drupal-camp-pune {
  padding-top: 30px;
  padding-bottom: 30px;
}
.content #drupal-camp-pune #block1 {
  color: rgba(0, 0, 0, 0.54);
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .content #pune-group-about {
    padding: 5px;
  }
  .content #pune-group-about .content {
    text-align: center;
    width: inherit;
    padding: 5px;
  }
  .content #bring-expect-block {
    padding: 10px;
  }
  .content #bring-expect-block .content {
    flex-direction: column;
  }
  .content #bring-expect-block .content #block1 p:nth-child(2) {
    width: inherit;
    margin: 0 auto;
    padding: 10px;
  }
  .content #bring-expect-block .content #block2 p:nth-child(2) {
    width: inherit;
    margin: 0 auto;
    padding: 10px;
  }
  .content #code-conduct-block {
    padding: 10px;
  }
  .content #drupal-camp-pune {
    padding: 10px;
  }
  .content #drupal-camp-pune #block1 {
    width: inherit;
    margin: 0 auto;
    text-align: center;
  }
}

.block-views-blockour-sponsors-block-1 {
  margin-top: 60px;
}

#benefit-sponsor-block h2 {
  text-align: center;
  color: #1876d8;
}
#benefit-sponsor-block .content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#benefit-sponsor-block .content #block1, #benefit-sponsor-block .content #block2, #benefit-sponsor-block .content #block3 {
  width: 30%;
}
@media screen and (max-width: 768px) {
  #benefit-sponsor-block .content {
    padding: 5px;
    flex-direction: column;
  }
  #benefit-sponsor-block .content #block1, #benefit-sponsor-block .content #block2, #benefit-sponsor-block .content #block3 {
    width: 100%;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.19) !important;
  }
}

#contact-us-block {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#contact-us-block h2 {
  color: #1876d8;
  text-transform: uppercase;
}
#contact-us-block p {
  color: rgba(0, 0, 0, 0.54);
}
@media screen and (max-width: 768px) {
  #contact-us-block {
    padding: 10px;
  }
}

#major-attraction-block {
  padding-top: 30px;
  padding-bottom: 30px;
}
#major-attraction-block h2 {
  text-transform: uppercase;
  text-align: center;
  color: #1876d8;
}
#major-attraction-block .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#major-attraction-block .content #block1 img,
#major-attraction-block .content #block2 img,
#major-attraction-block .content #block3 img,
#major-attraction-block .content #block4 img {
  height: 200px;
  width: 300px;
}
@media screen and (max-width: 768px) {
  #major-attraction-block .content {
    padding: 5px;
  }
}

.view-news-update .view-header {
  background-color: #fbfcff;
}
.view-news-update .view-header #news-update-block {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.view-news-update .view-header #news-update-block h1 {
  color: #1876d8;
  text-transform: uppercase;
}

.header-banner #block-internship2017-sessionbanner {
  position: relative;
}
.header-banner #block-internship2017-sessionbanner #session-banner-block {
  position: absolute;
  bottom: 80px;
  margin-left: 80px;
}
.header-banner #block-internship2017-sessionbanner #session-banner-block h1 {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .header-banner #block-internship2017-sessionbanner #session-banner-block {
    position: initial;
    bottom: 0px;
    margin: 0px;
    text-align: center;
  }
  .header-banner #block-internship2017-sessionbanner #session-banner-block h1 {
    color: #000;
  }
}

#selection-block {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fbfcff;
}
#selection-block p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
#selection-block h2 {
  text-align: center;
  color: #1876d8;
  text-transform: uppercase;
}
#selection-block #criteria-block {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}
#selection-block #criteria-block a {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #selection-block {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #selection-block p {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  #selection-block #criteria-block {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
}

#selection-commitee-block {
  text-align: center;
}
#selection-commitee-block p {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #selection-commitee-block p {
    width: inherit;
  }
}

.path-user #love-qed42 {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.path-user .content #block-internship2017-content {
  background-color: #a4a6a5;
  padding: 40px;
  position: relative;
  text-align: center;
}
.path-user .content #block-internship2017-content .user-login-form {
  background-color: #fff;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  text-align: initial;
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.path-user .content #block-internship2017-content .user-login-form > div {
  padding: 20px;
}
.path-user .content #block-internship2017-content .user-login-form #edit-actions {
  text-align: center;
}
.path-user .content #block-internship2017-content .user-login-form #edit-actions #edit-submit {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  height: auto;
  text-transform: uppercase;
  border-color: #59B2E6;
}

.page-wrapper .content #tickets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.page-wrapper .content #tickets #block1,
.page-wrapper .content #tickets #block2 {
  width: 50%;
  text-align: center;
}
.page-wrapper .content #tickets #block1 p,
.page-wrapper .content #tickets #block2 p {
  line-height: 4;
  color: rgba(0, 0, 0, 0.54);
}
@media screen and (max-width: 768px) {
  .page-wrapper .content #tickets {
    padding: 5px;
    flex-direction: column;
  }
  .page-wrapper .content #tickets #block1,
  .page-wrapper .content #tickets #block2 {
    width: 100%;
  }
}
.page-wrapper .content #keynote_speaker_block {
  color: rgba(0, 0, 0, 0.54);
  background-color: #f7f9fb;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.page-wrapper .content #keynote_speaker_block h1 {
  color: #1876d8;
  font-weight: 200;
}
.page-wrapper .content #keynote_speaker_block #block1 {
  width: 50%;
}
.page-wrapper .content #keynote_speaker_block #block1 .content {
  padding: 70px;
}
.page-wrapper .content #keynote_speaker_block #block1 div {
  width: 60%;
}
.page-wrapper .content #keynote_speaker_block #block2 p img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .page-wrapper .content #keynote_speaker_block {
    padding: 5px;
    flex-direction: column-reverse;
  }
  .page-wrapper .content #keynote_speaker_block #block1 {
    padding: 0px;
  }
  .page-wrapper .content #keynote_speaker_block #block1 .content {
    padding: 5px;
    width: 100%;
  }
  .page-wrapper .content #keynote_speaker_block #block1 .content h1 {
    text-align: center;
  }
  .page-wrapper .content #keynote_speaker_block #block1,
  .page-wrapper .content #keynote_speaker_block #block2 {
    width: 100%;
  }
  .page-wrapper .content #keynote_speaker_block p img {
    width: 100%;
  }
}
.page-wrapper .content .events-block {
  padding: 20px;
}
.page-wrapper .content .events-block .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.page-wrapper .content .events-block .content h4 {
  color: #1876d8;
}
.page-wrapper .content .events-block .content img {
  height: 250px;
  width: 400px;
}
.page-wrapper .content .events-block .content p {
  width: 80%;
}
.page-wrapper .content #block-views-block-our-sponsors-block-1 h2 {
  text-align: center;
  color: #1876d8;
}
.page-wrapper .content #block-views-block-our-sponsors-block-1 .view-our-sponsors {
  display: flex;
  justify-content: center;
}
.page-wrapper .content #block-views-block-our-sponsors-block-1 .view-our-sponsors .view-content {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-around;
}
.page-wrapper .content #block-views-block-our-sponsors-block-1 .view-our-sponsors .view-content .views-row {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .page-wrapper .content #block-views-block-our-sponsors-block-1 .view-our-sponsors .view-content {
    width: 100%;
  }
  .page-wrapper .content #block-views-block-our-sponsors-block-1 .view-our-sponsors .view-content .views-row {
    margin-bottom: 10px;
  }
}
